/* 이 곳에 alert 작성 */
.alert.green {
	background-color: rgb(76, 193, 76);
	color: white;
}

.alert.red {
	background-color: rgb(240, 122, 122);
	color: white;
}

.alert.blue {
	background-color: rgb(81, 81, 208);
	color: white;
}
