@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 10px;
	font-family: "Poppins", sans-serif;
	background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 90%;
	width: 700px;
	background: #fff;
	padding: 25px 40px 10px 40px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	margin: auto;
}

.container .text {
	text-align: center;
	font-size: 41px;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.list {
	max-width: 100%;
	margin: 0 auto;
	padding: 20px;
	background-color: #f7f7f7;
}

.listTitle {
	text-align: center;
}

.form-input,
.form-button {
	margin: 10px 0;
}

.addAlarm {
	text-align: center;
	color: white;
	margin: 10px 0;
	background: rgba(0, 0, 0, 0.303);
}

ul {
	list-style: none;
	padding: 0;
	margin-top: 10px;
}

li {
	background-color: #fff;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 437px;
}

button {
	margin-left: 10px;
}

.task-form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

/* CSS */
.button-81 {
	background-color: #fff;
	border: 0 solid #e2e8f0;
	border-radius: 1.5rem;
	box-sizing: border-box;
	color: #0d172a;
	cursor: pointer;
	display: inline-block;
	font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
		Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	font-size: 1.1rem;
	font-weight: 600;
	line-height: 1;
	padding: 5px;
	text-align: center;
	text-decoration: none #0d172a solid;
	text-decoration-thickness: auto;
	transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-81:hover {
	background-color: #1e293b;
	color: #fff;
}

.input-box {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	font-size: 14px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.12);
	margin: 8px;
}

.input-box:focus {
	color: #3498db;
}

.button-container {
	text-align: center;
}

.clear-button {
	background-color: #ed7c74; /* 빨간색 배경 */
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	margin-top: 20px;
	cursor: pointer;
}
.clear-button:hover {
	background-color: #d32f2f; /* 마우스 오버 시 색상 변경 */
}
